<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.css" rel="stylesheet" type="text/css">
    
    <!-- /global stylesheets -->
    <!-- Core JS files -->

    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- /theme JS files -->
</head>

<body>
    <div class="navbar navbar-default header-highlight">
        <div class="navbar-header">

            <a class="navbar-brand" href="#"><h6 style="color:white"> @*@Session["UserName"]*@ </h6></a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        @*<div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="sidebar-control sidebar-main-toggle hidden-xs" data-popup="tooltip" title="Collapse main" data-placement="bottom" data-container="body">
                            <i class="icon-paragraph-justify3"></i>
                        </a>
                    </li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>*@


        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/placeholder.jpg" alt="">
                            <span>Welcome <span class="text-bold"></span>@Session["UserName"]</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="~/MyProfile/MyProfile"><i class="icon-user-plus"></i> حسابى</a></li>
                            <li><a href="~/MyProfile/ChangePassword"><i class="icon-cog5"></i>  تغير كلمة السر</a></li>
                            @*<li><a href="#"><span class="badge bg-blue pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>*@
                            <li class="divider"></li>
                            <li>@*<a href="#"><i class="icon-cog5"></i> Account settings</a>*@</li>
                            <li><a href="~/Login/logout"><i class="icon-switch2"></i> تسجيل الخروج</a></li>
                        </ul>
                </ul>
            </div>
        </div>

    </div>

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user-material">
                        <div class="category-content" style="background-image:url(/assets/images/login_cover.jpg)">
                            <div class="sidebar-user-material-content">
                                @*<a href="#"><img src="~/assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>*@
                            </div>
                            <div class="sidebar-user-material-menu" style="margin-top: 129px">
                                <a href="#user-nav" data-toggle="collapse"><span>حسابي</span> <i class="caret"></i></a>
                            </div>
                        </div>

                        <div class="navigation-wrapper collapse" id="user-nav">
                            <ul class="navigation">
                                <li><a href="~/MyProfile/MyProfile"><i class="icon-user-plus"></i> حسابى </a></li>
                                <li><a href="~/MyProfile/ChangePassword"><i class="icon-cog5"></i> تغير كلمة السر</a></li>
                                <li class="divider"></li>
                                <li><a href="~/Login/Logout"><i class="icon-switch2"></i> <span>تسجيل الخروج</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->

                        @Html.Partial("~/Views/Shared/Partial/_SidebarPartial.cshtml")

                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    @RenderBody()
                    <!-- Footer -->
                    <div class="footer text-muted">
                        &copy; 2019. <a href="#">HMS</a> by <a href="#" target="_blank">monsters Team</a>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>

    @*mohamed tharwat*@
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@


    <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/form_select2.js"></script>



    <!-- /core JS files -->
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/notifications/pnotify.min.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/ui/prism.min.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>*@

    <script type="text/javascript" src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/picker_date.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/datatables_sorting.js"></script>
    @*<script type="text/javascript" src="~/assets/js/pages/form_multiselect.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/uploaders/fileinput.min.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/pages/uploader_bootstrap.js"></script>*@
    @*<script type="text/javascript" src="~/assets/js/plugins/ui/ .min.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
