@model HMS_ITI.Models.Registration
@{
    ViewBag.Title = "تعديل كلمة السر";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (Html.BeginForm("ChangePassword", "MyProfile", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <h5 style="font-style:italic"><label> اســــم المـــوظــف </label></h5>
                    @Html.TextBoxFor(model => model.UserName, new
                   {
                       @class = "form-control",
                       placeholder = "اســــم المستخدم"
                   })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <h5 style="font-style:italic"><label>كلمــة الســر </label></h5>
                    @Html.TextBoxFor(model => model.Password, new
           {
               @class = "form-control",
               placeholder = "كلمــة الســر",
               type = "number"
           })

                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit form <i class="icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}
