@model HMS_ITI.Models.Medicine_Shape
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<div class="row" style="text-align:center">
    <span class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma;font-size:18px;padding:5px 30px;">أضافة شكل الدواء</span>
</div>
<br />
@using (Html.BeginForm("Add", "MedicineShape", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(ww => ww.Name_Arabic, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.TextBoxFor(model => model.Name_Arabic, new
                    {
                        @class = "form-control",
                        placeholder = " بالعربية"
                    })
                    <b>
                        @Html.ValidationMessageFor(model => model.Name_Arabic, "", new { @class = "text-danger" })
                    </b>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(ww => ww.Name_English, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.TextBoxFor(model => model.Name_English, new
                    {
                        @class = "form-control",
                        placeholder = " بالانجليزية"
                    })
                    <b>
                        @Html.ValidationMessageFor(model => model.Name_English, "", new { @class = "text-danger" })
                    </b>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right col-lg-12">
                    <button type="submit" class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma">اضافة <i class=" icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        </div>


    </div>
}

