@model HMS_ITI.Models.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/master.cshtml";
}

<h2>Contact</h2>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message)
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
*@
<form method="post" >
    <div class="contact-form">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="col-12">

                </div>

                <input type="text" placeholder="Name" style="width:500px;"id="Name" name="Name" required>
                <input type="email" placeholder="E-mail" id="Email" name="Email">
                <input type="text" placeholder="Subject" style="width:500px;" id="Subject" name="Subject" required>

                <textarea name="Message" rows="12" cols="80" placeholder="Message" id="Message" required></textarea>

                <div class="col-12">
                    <input type="submit" name="" value="Send Message" class="button gradient-bg">
                </div>
            </div><!-- row -->
        </div>
    </div>
</form>