@model HMS_ITI.Models.Medicine
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
@using (Ajax.BeginForm("Edit", "Medicine", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "edt", OnSuccess = "edtfun()" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Medicine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.IDMedicin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDMedicin)
                @Html.ValidationMessageFor(model => model.IDMedicin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartGroupId, "PartGroupId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.PartGroupId, ViewBag.medprt as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PartGroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShapeId, "ShapeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.ShapeId, ViewBag.medshp as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShapeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId, "CompanyId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.CompanyId, ViewBag.medcmp as SelectList,htmlAttributes:new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.CompanyId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedNameArabic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedNameArabic)
                @Html.ValidationMessageFor(model => model.MedNameArabic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedNameEnglish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedNameEnglish)
                @Html.ValidationMessageFor(model => model.MedNameEnglish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateMedicinRegister, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateMedicinRegister)
                @Html.ValidationMessageFor(model => model.DateMedicinRegister)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowedCurrent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowedCurrent)
                @Html.ValidationMessageFor(model => model.AllowedCurrent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
