@model HMS_ITI.Models.Staff

@{
    ViewBag.Title = "RegStaff";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row" style="text-align:center">
    <span class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma;font-size:18px;padding:5px 30px;">اضافة فريق العمل</span>
</div>
<br />
@using (Html.BeginForm("RegStaff", "Staff", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(ww => ww.FullName, htmlAttributes: new { @class = "control-label col-sm-12" })

                @Html.TextBoxFor(model => model.FullName, new
                {
                    @class = "form-control",
                    placeholder = "اسم الطبيب"
                })
                <b>
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </b>
            </div>

            <div class="form-group">
                @Html.LabelFor(ww => ww.Bio, htmlAttributes: new { @class = "control-label col-sm-12" })

                @Html.TextAreaFor(model => model.Bio, new
                {
                    @class = "form-control",
                    placeholder = "السيرة الذاتية"
                })
                <b>
                    @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                </b>
            </div>

            <div class="form-group">
                @Html.LabelFor(ww => ww.Position, htmlAttributes: new { @class = "control-label col-sm-12" })

                @Html.TextBoxFor(model => model.Position, new
                {
                    @class = "form-control",
                    placeholder = "الوظيفة"
                })
                <b>
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </b>
            </div>

            <div class="form-group">
                @Html.LabelFor(ww => ww.HireDate, htmlAttributes: new { @class = "control-label col-sm-12" })

                <input type="date" placeholder="HireDate" class="form-control" name="HireDate" id="HireDate">
                <b>
                    @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
                </b>
            </div>

            <div class="form-group">
                @Html.LabelFor(ww => ww.Image, htmlAttributes: new { @class = "control-label col-sm-12" })

                <input type="file" name="Image" id="Image" required />
                <b>
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </b>
            </div>

            <div class="form-group">
                <div class="text-right col-lg-12">
                    <button type="submit" class="panel-title btn btn-info" style="color:#fff;font-family:Tahoma">اضافة <i class=" icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
